/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.console-plugin-template__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

.cat-facts-console-plugin__card {
  color: var(--pf-c-content--Color);
  height: 250px;
  margin-bottom: var(--pf-l-flex--spacer); /* margin-left is set by FlexItem to the same value */
  width: 250px;
}
